:root {
  --purple: #84e;
  --purple-light: #b07dfb;
  --gray-light: #fafbfc;
  --gradient: linear-gradient(135deg, var(--purple), var(--purple-light));
  --shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  --transition-hover: 0.2s;
  --radius: 5px;
  --font-color: #2e2e2e;
}

body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: var(--radius);
}

/* GRID GERAL */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content adds"
    "footer footer footer";
}

/* HEADER */

.header {
  grid-area: header;
  background: var(--gradient);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.topnav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
}

/* instead of column-gap */
/* .topnav ul li + li {
  margin-left: 30px;
} */

.topnav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  transition: var(--transition-hover);
}

.topnav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* SIDENAV */

.sidenav {
  grid-area: sidenav;
  background: var(--gray-light);
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px;
  background: white;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: var(--transition-hover) ease-out;
}
.sidenav li a:hover {
  background: var(--purple-light);
}

/* MAIN CONTENT */

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.col-wide {
  grid-column: 1 / -1;
}

.columns-2 {
  grid-row: span 2;
}

.image-1,
.image-2 {
  align-self: end;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: var(--font-color);
}

.content p + p {
  margin-top: 30px;
}

.content p.destaque {
  font-size: 0.875rem;
  color: var(--purple-light);
  max-width: 16rem;
}

.citacao,
.atributos {
  padding: 30px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background: var(--gradient);
}

.citacao p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.citacao cite {
  display: block;
  font-size: 1rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.atributos {
  align-self: flex-start;
}

.atributos li {
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
  color: white;
}
.atributos li + li {
  border-top: 2px solid var(--purple-light);
}

.titulo {
  color: var(--purple-light);
}

.title h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.title span {
  font-size: 0.875rem;
  font-style: italic;
}

.caracteristicas {
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
}

.caracteristicas > div {
  width: 80px;
  text-align: center;
  background: var(--gradient);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  position: relative;
}

/* .caracteristicas > div:first-child {
  margin-right: 30px;
} */

.caracteristicas span {
  display: block;
  color: var(--purple-light);
}

.numero {
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}

.rotulo {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.image-3 {
  width: 100%;
}

/* ADDS */

.anuncios {
  grid-area: adds;
  background: var(--gray-light);
  display: grid;
  align-content: start;
  padding: 30px;
  grid-gap: 30px;
}

/* FOOTER */

.footer {
  grid-area: footer;
  background: var(--gradient);
  padding: 30px;
}

.footer p {
  color: white;
  text-align: center;
}
